#grilla {
    display: grid;
    grid-template-areas:
    "section0 section0 section0"
    "section1 sectionP section2"
    "section3 section3 section3";
    grid-template-rows: 150px 300px 200px;
    grid-template-columns: 30% 1fr 30%;
    row-gap: 15px;
    column-gap: 15px;
}
.section0 {
    background-color: white;
    grid-area: section0;
}
.section1 {
    background-color: white;
    grid-area: section1;
}
.sectionP {
    height: 310px;
    border: 2px solid black;
    background-color: white;
    grid-area: sectionP;
    text-align: center;
    font-family: 'Roboto';
}
.section2 {
    background-color: white;
    grid-area: section2;
}
.section3 {
    background-color: white;
    grid-area: section3;
}
.header {
    font-size: 25px;
}
.form {
    font-size: 15px;
}
.input [type=submit] {
    width: 50px;
    background-color: #272727;
    color: white;
    border: 1px solid white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 50px;
    cursor: pointer;
  }
.input [type=submit]:hover {
    background-color: #ffffff;
    border: #272727 solid 2px;
    color: #272727;
  }
.input [type=text] {
    border-radius: 3px;
    padding: 6px 40px;
    margin: 5px;
    border-color: #272727;
}
.input [type=password] {
    border-radius: 3px;
    padding: 6px 40px;
    margin: 5px;
    border-color: #272727;
}
.label {
    font-family: 'Roboto';
    font-size: 17px;
}
